html {
  width: 100%;
  font-family: sans-serif;
  color: white;
}
body {
  width: 100%;
  margin: 0;
  background-color: #1d1d1e;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 1 1 auto;
  background-color: #473d35;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.logo {
  font-size: 2em;
  text-decoration: none;
  color: white;
}
.search {
  width: 50%;
  max-width: 50ch;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  background-color: gray;
}
.content {
  padding: 1em;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.vehicle {
  padding: 0.5em;
  background-color: gray;
  width: 100%;
  max-width: 100ch;
}
