{% extends "base" %}
{% block title %}{{ registration.registration_number }}{% endblock title %}
{% block content %}
<h1>{{ registration.registration_number }}</h1>
<ul>
    <li>Issuer state: {{ registration.issuer_state }}</li>
    <li>Issuer authority: {{ registration.issuer_authority }}</li>
    <li>Document number: {{ registration.document_number }}</li>
    <li>Registration number: {{ registration.registration_number }}</li>
    <li>Date of first registration: {{ registration.date_of_first_registration }}</li>
    <li>
        <h2>Personal Data</h2>
        {% set p = registration.personal_data %}
        <ul>
            <li>
                <h3>Certifacte Holder</h3>
                {% set ch = p.certificate_holder %}
                <ul>
                    <li>Surname or business name: {{ ch.surname_or_business_name }}</li>
                    <li>Other name or initials: {{ ch.other_name_or_initials }}</li>
                    <li>Address: {{ ch.address }}</li>
                </ul>
            </li>
            <li>Vehicle owner: {{ p.vehicles_owner }}</li>
        </ul>
    </li>
    <li>
        <h2>Vehicle</h2>
        {% set v = registration.vehicle %}
        <ul>
            <li>Make: {{ v.make }}</li>
            <li>Vehicle type: {{ v.vehicle_type }}</li>
            <li>Commercial descriptions: {{ v.commercial_descriptons }}</li>
        </ul>
    </li>
    <li>Vehicle identification number: {{ registration.vehicle_identification_number }}</li>
    <li>
        <h2>Mass</h2>
        {% set m = registration.mass %}
        <ul>
            <li>Maximum technically permissible laden mass: {{ m.maximum_technically_permissible_laden_mass }}</li>
            <li>Maximum permissible laden mass of the vehicle in service: {{ m.maximum_permissible_laden_mass_of_the_vehicle_in_service }}</li>
            <li>maximum permissible laden mass of the whole vehicle in service: {{ m.maximum_permissible_laden_mass_of_the_whole_vehicle_in_service }}</li>
        </ul>
    </li>
    <li>Vehicle mass with body: {{ registration.vehicle_mass_with_body }}</li>
    <li>Period of validity: {{ registration.period_of_validity }}</li>
    <li>Date of registration: {{ registration.date_of_registration }}</li>
    <li>Type approval number: {{ registration.type_approval_number }}</li>
    <li>
        <h2>Engine</h2>
        {% set e = registration.engine %}
        <ul>
            <li>Capacity: {{ e.capacity }}</li>
            <li>Max net power: {{ e.max_net_power }}</li>
            <li>Fuel type: {{ e.fuel_type }}</li>
        </ul>
    </li>
    <li>Power weight ratio: {{ registration.power_weight_ratio }}</li>
    <li>
        <h2>Seating Capacity</h2>
        {% set sc = registration.seating_capacity %}
        <ul>
            <li>Number of seats: {{ sc.number_of_seats }}</li>
            <li>Number of standing places: {{ sc.nunmber_of_standing_places }}</li>
        </ul>
    </li>
    <li>Vehicle category: {{ registration.vechicle_category }}</li>
    <li>
        <h2>Maximum Towable Mass</h2>
        {% set mtm = registration.maximum_towable_mass %}
        <ul>
            <li>Braked: {{ mtm.braked }}</li>
            <li>Unbraked: {{ mtm.unbraked }}</li>
        </ul>
    </li>
    <li>Colour: {{ registration.colour }}</li>
    <li>Maximum speed: {{ registration.maximum_speed }}</li>
    <li>
        <h2>Exhaust Emisions</h2>
        <ul>
            <li>Environmental category: {{ registration.exhaust_emissions.environmental_category }}</li>
        </ul>
    </li>
</ul>
{% endblock content %}