{% extends "base" %}
{% block title %}Register{% endblock title %}
{% block content %}
<div>
    <form action="/account/register" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="email">Email</label>
            <input name="email" type="text" />
        </fieldset>
        <fieldset>
            <label for="username">Display name</label>
            <input name="username" type="text" />
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input name="password" type="password" />
        </fieldset>
        <input type="submit" />
    </form>
</div>
{% endblock content %}